<template>
  <div>
    <b-alert :variant=variant
             :show=showMsg
             dismissible fade
             @dismissed="showMsg=false"
             >
             {{ message }}
    </b-alert>
    <br>
  </div>
</template>

<script>
export default {
  props: {
    'message':String,
    'variant':String,
    'showMsg':Boolean
  }
};
</script>