<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img id="header_logo" src="@/assets/worc.jpg">
        <hr><br>
        <button type="button" class="btn btn-primary btn-sm add_btn" v-b-modal.candidate-modal>
          Adicionar Candidate
        </button>
        <br><br>
        <alert :message=message :variant=variant :showMsg=showMsg></alert>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name Sobrenome</th>
              <th scope="col">Document</th>
              <th scope="col">Job</th>
              <th scope="col">Contacts</th>
              <th scope="col">Atualizacao</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(candidate, index) in candidates" :key="index">
              <td>{{ candidate.name }} {{ candidate.sobrenome}}</td>
              <td>{{ candidate.document}} ({{ candidate.type_document}})</td>
              <td>{{ candidate.job}}</td>
              <td class="pre-formatted">{{ candidate.contacts_str | splitToLines}}</td>
              <td>{{ candidate.atualizacao}}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-warning btn-sm"
                          v-b-modal.candidate-update-modal
                          @click="editCandidate(candidate)">
                      Editar
                  </button>
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeleteCandidate(candidate)">
                      Deletar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addCandidateModal"
            id="candidate-modal" hide-backdrop content-class="shadow"
            title="Adicionar novo candidate"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-name-group"
                    label="Name:"
                    label-for="form-name-input">
          <b-form-input id="form-name-input"
                        type="text"
                        v-model="addCandidateForm.name"
                        required
                        placeholder="Digite o name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-sobrenome-group"
                          label="Sobrenome:"
                          label-for="form-sobrenome-input">
            <b-form-input id="form-sobrenome-input"
                              type="text"
                              v-model="addCandidateForm.sobrenome"    
                              required                          
                              placeholder="Digite a sobrenome">
            </b-form-input>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group id="form-document-group"
                            label="Document:"
                            label-for="form-document-input">
                <b-form-input id="form-document-input"
                                type="text"
                                ref="addCandidateFormDoc"
                                v-model="addCandidateForm.document"  
                                required                          
                                placeholder="Digite o document">
                </b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-document-type-group"
                              label="Type document:"
                              label-for="form-document-type-input">
                <b-form-select id="form-document-type-input"
                                  v-model="addCandidateForm.type_document"
                                  required                          
                                  :options="opt_type_doc"                              
                                  type="text"
                                  placeholder="Selecione o Type Document">
                </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-form-group id="form-job-group"
                          label="Job:"
                          label-for="form-job-input">
            <b-form-input id="form-job-input"
                              v-model="addCandidateForm.job"
                              required                                                        
                              type="text"
                              placeholder="Digite o job">
            </b-form-input>
        </b-form-group>
        <div v-for="(contact, index) in addCandidateForm.contacts" :key="index">
          <b-row>
            <b-col>
              <b-form-group id="form-contact-number-group"
                                label="Number:"
                                label-for="form-contact-number-input">
                  <b-form-input id="form-contact-number-input"
                                    v-model="contact.number"
                                    required                                                        
                                    type="text"
                                    placeholder="Digite o number">
                  </b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group id="form-contact-type-group"
                                label="Type:"
                                label-for="form-contact-type-input">
                  <b-form-select id="form-contact-type-input"
                                    v-model="contact.type"                              
                                    type="text"
                                    required                          
                                    :options="opt_contact_type"
                                    placeholder="Selecione o type">
                  </b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button-group>
                <button
                    type="button"
                    class="btn btn-danger btn-sm btn-bottom"
                    @click="deletarContactAddWindow(contact)">
                    Deletar
                </button>
              </b-button-group>
            </b-col>
          </b-row>
        </div>
        <b-row>
          <b-button-group>
            <button type="button" class="btn btn-primary btn-sm add_btn btn_pd" @click="addContact">
              Adicionar Contact
            </button>
          </b-button-group>
        </b-row>
        <b-row>
          <b-button-group>
            <b-button type="submit" variant="primary" class=btn_pd>Enviar</b-button>
            <b-button type="reset" variant="danger">Resetar</b-button>
          </b-button-group>
        </b-row>
      </b-form>
    </b-modal>
    <b-modal ref="editCandidateModal"
            id="candidate-update-modal" hide-backdrop content-class="shadow"
            title="Editar um Candidate"
            hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
        <b-form-group id="form-name-edit-group"
                      label="Name:"
                      label-for="form-name-edit-input">
          <b-form-input id="form-name-edit-input"
                          type="text"
                          v-model="editCandidateForm.name"
                          required
                          placeholder="Digite o name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-sobrenome-edit-group"
                          label="Sobrenome:"
                          label-for="form-sobrenome-edit-input">
          <b-form-input id="form-sobrenome-edit-input"
                              type="text"
                              required
                              v-model="editCandidateForm.sobrenome"                              
                              placeholder="Digite o sobrenome">
          </b-form-input>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group id="form-document-edit-group"
                              label="Document:"
                              label-for="form-document-edit-input">
              <b-form-input id="form-document-edit-input"
                                  type="text"
                                  disabled
                                  v-model="editCandidateForm.document"                              
                                  placeholder="Digite o document">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-document-type-edit-group"
                            label="Type document:"
                            label-for="form-document-type-edit-input">
              <b-form-select id="form-document-type-edit-input"
                                type="text"
                                :options="opt_type_doc"
                                disabled
                                v-model="editCandidateForm.type_document"                            
                                placeholder="Digite o type document">
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-form-group id="form-job-edit-group"
                        label="Type job:"
                        label-for="form-job-edit-input">
          <b-form-input id="form-job-edit-input"
                            type="text"
                            v-model="editCandidateForm.job" 
                            disabled                           
                            placeholder="Digite o job">
          </b-form-input>
        </b-form-group>
        <div v-for="(contact, index) in editCandidateForm.contacts" :key="index">
          <b-row>
            <b-col>
              <b-form-group id="form-contact-number-group"
                                label="Number:"
                                label-for="form-contact-number-input">
                  <b-form-input id="form-contact-number-input"
                                    v-model="contact.number"                              
                                    type="text"
                                    required
                                    placeholder="Digite o number">
                  </b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group id="form-contact-type-group"
                                label="Type:"
                                label-for="form-contact-type-input">
                  <b-form-select id="form-contact-type-input"
                                    v-model="contact.type"                              
                                    type="text"
                                    required
                                    :options="opt_contact_type"
                                    placeholder="Selecione o type">
                  </b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button-group>
                <button
                    type="button"
                    class="btn btn-warning btn-sm btn-bottom-edit"
                    @click="salvarContact(contact)">
                    Salvar
                </button>
                <button
                    type="button"
                    class="btn btn-danger btn-sm btn-bottom-edit"
                    @click="deletarContactEditWindow(contact)">
                    Deletar
                </button>
              </b-button-group>
            </b-col>
          </b-row>
        </div>
        <b-row>
          <b-button-group>
            <button type="button" class="btn btn-primary btn-sm add_btn btn_pd" @click="addContactEditWindow">
              Adicionar Contact
            </button>
          </b-button-group>
        </b-row>
        <b-button-group>
          <b-button type="submit" variant="primary" class="btn_pd">Salvar</b-button>
          <b-button type="reset" variant="danger" class="btn_pd">Cancelar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import Alert from './Alert.vue';
export default {
  name: 'Home',
  components: {
    alert: Alert,
  },
  data() {
    return {
      message: '',
      variant: '',
      showMsg: false,
      candidates: [],
      opt_contact_type: [{value:'', text:'Contact Type'},{value:'Casa',text:'Casa'},{value:'Comercial',text:'Comercial'},{value:'Celular',text:'Celular'}],      
      opt_type_doc: [{value:'', text:'Type Document'},{value:'CNPJ',text:'CNPJ'},{value:'CPF',text:'CPF'}],
      addCandidateForm: {
        name: '',
        sobrenome: '',
        document: '',
        type_document: '',
        job: '',
        contacts: {}
      },
      editCandidateForm: {
        name: '',
        sobrenome: '',
        document: '',
        type_document: '',
        job: '',
        contacts: {}
      },
      editCandidateFormOG: {},
      editContactCounter: 0,
      addContactCounter: 0,
    };
  },
  created(){
    this.getCandidates();
  },
  filters: {
    splitToLines: function (value) {
      if (!value) return ''
      return value.toString().replaceAll(';','\n');
    }
  },
  methods: {
    initAddForm() {
      this.addCandidateForm.id = '';
      this.addCandidateForm.name = '';
      this.addCandidateForm.sobrenome = '';
      this.addCandidateForm.document = '';
      this.addCandidateForm.type_document = '';
      this.addCandidateForm.contacts = {};
      this.addCandidateForm.job = '';
    },
    initEdtForm() {
      this.editCandidateForm.id = '';
      this.editCandidateForm.name = '';
      this.editCandidateForm.sobrenome = '';
      this.editCandidateForm.document = '';
      this.editCandidateForm.type_document = '';
      this.editCandidateForm.contacts = {};
      this.editCandidateForm.job = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addCandidateModal.hide();
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5001/candidates`;
      axios.create({withCredentials: true}).post(path,this.addCandidateForm)
        .then((res) => {
          this.getCandidates();
          if(res.data.status=='failure'){
            this.variant="danger";
          }else{
            this.variant="success";
          }
          this.message = res.data.message;
          this.showMsg=true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCandidates();
        });      
      this.initAddForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addCandidateModal.hide();
      this.initAddForm();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCandidateModal.hide();
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5001/candidates/${this.editCandidateForm.id}`;
      axios.create({withCredentials: true}).put(path,this.editCandidateForm)
        .then((res) => {
          if(res.data.status=='success'){            
            this.message = 'Candidate Atualizado!';
            this.variant="success";
            this.showMsg=true;
            this.getCandidates();
          }
          this.initEdtForm();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCandidates();
          this.initEdtForm();
        });       
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCandidateModal.hide();
      this.candidates[this.editCandidateForm.document] = JSON.parse(JSON.stringify(this.editCandidateFormOG));
      this.initEdtForm();
      this.getCandidates();
    },
    editCandidate(candidate) {
      this.editCandidateFormOG = JSON.parse(JSON.stringify(candidate));
      this.editCandidateForm = JSON.parse(JSON.stringify(candidate));
      let max_key = 0;
      for(let key in this.editCandidateFormOG.contacts){
        if(this.editCandidateFormOG.contacts[key].id > max_key){
          max_key = this.editCandidateFormOG.contacts[key].id
        }
      }
      this.editContactCounter = max_key + 1;
    },
    onDeleteCandidate(candidate){
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5001/candidates/${candidate.id}`;
      axios.create({withCredentials: true}).delete(path)
        .then((res) => {
          this.getCandidates();
          if(res.data.status=='success'){
            this.message = 'Candidate removido!';
            this.variant="success";
            this.showMsg=true;
          }
        })
        .catch((error) => {
          this.getCandidates();
          // eslint-disable-next-line
          console.error(error);
        }); 
    },
    addContact(){
      let c_id = this.addContactCounter + 1;
      this.addContactCounter = c_id + 1;
      Vue.set(this.addCandidateForm.contacts,c_id,{number:'',type:'', id:c_id});
    },
    addContactEditWindow(){
      let c_id = this.editContactCounter + 1;
      this.editContactCounter = c_id + 1;
      Vue.set(this.editCandidateForm.contacts,c_id,{
              candidate_id:this.editCandidateForm.id,number:'',type:'', id:c_id, logical_ind:true
              });
    },
    deletarContactAddWindow(contact){
      Vue.delete(this.addCandidateForm.contacts, contact.id);
    },
    salvarContact(contact){
      if(contact.text=='' || contact.type==''){
        return;
      }
      const my_url = process.env.VUE_APP_PYTHON_URL;
      if(contact.logical_ind == true){
        const path = `http://${my_url}:5001/contacts`;
        axios.create({withCredentials: true}).post(path,contact)
          .then((res) => {
            this.getCandidates();
            if(res.data.status=='success'){
              this.message = 'Contact inserido!';
              this.variant="success";
              this.showMsg=true;
              contact.logical_ind = false;
            }
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getCandidates();
          });
      }else{
        const path = `http://${my_url}:5001/contacts/${contact.id}`;
        axios.create({withCredentials: true}).put(path,contact)
          .then((res) => {
            if(res.data.status=='success'){
              this.getCandidates();
              this.message = 'Contact atualizado!';
              this.variant="success";
              this.showMsg=true;
            }
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getCandidates();
          });
      }
    },
    deletarContactEditWindow(contact){
      //removing a persisted contact  
      if(typeof contact.logical_ind === "undefined" || contact.logical_ind === false){
        const my_url = process.env.VUE_APP_PYTHON_URL;
        const path = `http://${my_url}:5001/contacts/${contact.id}`;
        axios.create({withCredentials: true}).delete(path)
          .then((res) => {
            if(res.data.status=='success'){
              this.getCandidates();
              this.message = 'Contact removido!';
              this.variant="success";
              this.showMsg=true;
              Vue.delete(this.editCandidateForm.contacts, contact.id);
            }
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getCandidates();
          });
      }else{//removing a contact logically, from Vue only
        Vue.delete(this.editCandidateForm.contacts, contact.id);        
      }
    },
    getCandidates(){
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5001/candidates`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.candidates = res.data.candidates;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    }
  }
}
</script>
<style scoped>
.modal-backdrop {
  opacity: 0 !important;
}
.pre-formatted {
  white-space: pre-wrap; /* 👈 this is the important part */
}
#header_logo{
  height: 25%;
  width: 100%;
}
.add_btn{
 float: left; 
 margin-bottom: 15px;
}
.btn_pd{
  margin-left:15px;
}
.btn-bottom{
 margin-top: 50% !important;
}
.btn-bottom-edit{
 margin-top: 30% !important;
}
</style>
